<h2>固定費用科目</h2>

<%= link_to '編集' ,[:edit, @fixdcost] %>
<%= link_to '固定費用科目へ戻る' , :fixdcosts %>

<table>
    <tr>
        <th>名称</th>
        <td><%= @fixdcost.name %></td>
    </tr>
    <tr>
        <th>説明</th>
        <td><%= @fixdcost.description %></td>
    </tr>

</table>