<table>
    <tr>
        <th><%= f.label :name, '名称' %></th>
        <td><%= f.text_field :name %></td>
    </tr>
    <tr>
        <%= f.label :description, '説明' %>
        <%= f.text_field :description %>
    </tr>
</table>